.containerTasks {
    border: 1px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 5px;
}
.tabStyle {
    display: flex;
    width: 100%;
   
}
.titleStyle {
    width: 80%;
    overflow: hidden;
    text-align: justify;
}
.iconContainer{

    width: 50%;

}
